div.neovis_setting {
    width: content-box;
}

div.cxtmenu-item {
    opacity: 0.8;
}

/*.cytoscape-navigatorView,*/
div.cy-navigator {
    width: 150px;
    height: 150px;
    position: fixed;
    z-index: 3;
    bottom: 10px;
    right: 27px;
    border: #828282 1px solid;
    border-radius: 2px;
    background-color: rgba(130, 130, 130, 0.1);
    cursor: default;
    overflow: hidden;
}

div.juggl-error {
    background-color: red;
}


.cy-navigator > img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.8;

}
.cytoscape-navigatorView{
    position: relative;
    top: 0;
    left: 0;
    cursor: move;
    background: #828282;
    -moz-opacity: 0.20;
    opacity: 0.20;
    width: 50%;
    height: 50%;
    z-index: 0;
}

.cytoscape-navigatorOverlay{
    position: relative;
    top: 0;
    left: 0;
    z-index: 103;
    width: 100%;
    height: 100%;
}

.juggl-hover {
    opacity: 0.9;
}

.juggl-preview-edge {
    height: 140px !important;
}

.cy-content {
    padding: 0;
}

.cy-toolbar {
    position: relative;
    left: 8px;
    top: 8px;
    width: fit-content;
    max-width: inherit;
    height: 0;
    margin: 2px;
    margin-block-start: 0;
    margin-block-end: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0);
}

.cy-toolbar-section {
    width: fit-content;
    text-align: center;
    background-color: var(--background-primary);
    display: inline-block;
    margin: 1px;
    padding: 1px;
    border-color: var(--background-modifier-border);
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    opacity: 1;
}
.cy-toolbar > input[type='text'] {
    font-size: var(--font-small);
    background-color: var(--background-secondary);
    height: 30px;
    padding: 5px 7px;
}


button.juggl-button {
    width: 27px;
    height: 27px;
    text-align: center;
    background-color: var(--background-secondary);
    padding: 0;
    margin: 1px;
}


.cy-toolbar-section > button:disabled {
    background: var(--background-primary);
    cursor: not-allowed;
}

button.juggl-button > svg > path {
    fill: var(--text-muted);
    opacity: 0.6;
}

button.juggl-button:hover > svg > path {
    opacity: 1;
}

button.juggl-button:disabled > svg > path {
    opacity: 0.3;
}

button.juggl-button-pane {
    background: none;
    margin: 0;
    padding: 0;
    width: 15px;
    height: 15px;
}


div.juggl-list-text {
    font-size: var(--font-small);
    word-break: break-word;
}

div.juggl-style-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 6px;
    padding-top: 6px;
    border-bottom: 1px solid var(--background-modifier-border-focus);
}

div.juggl-style-group-hidden {
    width: auto;
    display: inline;
}

div.juggl-nodes-pane,
div.juggl-style-pane {
    overflow-y: auto;
    padding: 0 10px;
    font-size: 14px;
}

.break {
    flex-basis: 100%;
    height: 3px;
}

/* Use a collapsed column to break to a new column */
.break-column {
    flex-basis: 100%;
    width: 0;
}
.react-icon {
    display: inline-flex;
    width: 24px;
    box-sizing: content-box;
    height: 24px;
    stroke-width: 0;
}
.react-icon > svg {
    vertical-align: top;
    line-height: 0;
    font-size: 0;
    margin-bottom: 3px;
}

.juggl-icon-picker > .suggestion-item {
    height: auto;
    min-height: 24px;
}

button.juggl-icon-button {
    height: 30px;
}

.juggl-style-pane-left {
    display: inline-flex;
    width: 50px;
    justify-content: center;
}
