div.vis-tooltip {
    white-space: pre-line;
    font-family: inherit;
    font-size: inherit;
    width: fit-content;
    max-width: 500px;
    border: 0;
    padding: 15px;
    background-color: white;

}

div.neovis_setting {
    width: content-box;
}
/*.cytoscape-navigatorView,*/
div.cy-navigator {
    width: 150px;
    height: 150px;
    position: fixed;
    z-index: 3;
    bottom: 10px;
    right: 27px;
    border: #828282 1px solid;
    border-radius: 2px;
    background-color: rgba(130, 130, 130, 0.1);
    cursor: default;
    overflow: hidden;
}

.cy-navigator > img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.8;

}
.cytoscape-navigatorView{
    position: relative;
    top: 0;
    left: 0;
    cursor: move;
    background: #828282;
    -moz-opacity: 0.20;
    opacity: 0.20;
    width: 50%;
    height: 50%;
    z-index: 0;
}

.cytoscape-navigatorOverlay{
    position: relative;
    top: 0;
    left: 0;
    z-index: 103;
    width: 100%;
    height: 100%;
}

.advanced-graph-hover {
    opacity: 0.8;
}

.advanced-graph-preview-edge {
    height: 140px !important;
}

.cy-content {
    padding: 0;
}